- var whatPage = "references";

<!DOCTYPE html>
html(lang="en")

    head

        include includes/head.pug
  
    body

        //- Preloader
        div(id="preloader")
            div(class="spinner")
            

        //- Navbar
        include sections/navbar.pug


        // References Page
        section(id="references-page" class="section")
            div(class="container")
                div(class="section-title")
                    h2 Nos Références
                    div(class="divider")
                div(class="references-img")
                    img(src="img/references.gif")

        //- Footer
        include sections/footer.pug


        // Scripts
        include includes/scripts.pug