/*-------------------------------------------------------*/
/* Variables
/*-------------------------------------------------------*/

// Colors
$main-color: #ccb041;
$main-color2: #3580b0;
$main-hover-color: darken($main-color, 8);

$heading-color: #35404e;
$text-color: #6e6e6e;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$default-font: "Nunito Sans", sans-serif;