// Footer
footer(class="footer")
    div(class="footer-details")
        div(class="container")
            div(class="row")
                div(class="col-lg-4")
                    div(class="footer-detail")
                        h5 Coordonnées
                        ul(class="list-unstyled")
                            li 
                                span Tel (LG): 
                                a(href="tel:+(212) 05 22 80 47 77") +(212) 05 22 80 47 77
                            li 
                                span Sav:
                                a(href="tel:+(212) 06 61 19 07 28") +(212) 06 61 19 07 28
                            li 
                                span E-mail:
                                a(href="mailto:contact@khouchar.com") contact@khouchar.com
                div(class="col-lg-4")
                    div(class="footer-detail")
                        h5 Addresse
                        address
                            | 24-45, Rue de Bruxelles, Mers Sultan 
                            span
                            | Casablanca, Maroc
                            span
                            | BP: 20490

                div(class="col-lg-4")
                    div(class="footer-detail")
                        h5 Horraires
                        p Lundi au vendredi: de 8h15  à  17h15
                        p Samedi: de 8h15 à 12h15

    div(class="footer-copyright")
        div(class="container")
            div(class="row")
                div(class="col-md-6")
                    p © 2018 Khouchar. All Rights Reserved. Designed by 
                        a(href="#") Pixygen
                div(class="col-md-6")
                    ul(class="list-inline")
                        li(class="list-inline-item")
                          a(href="https://www.facebook.com/" target="_blank")
                              i(class="fa fa-facebook")
                        li(class="list-inline-item")
                          a(href="https://www.youtube.com/" target="_blank")
                              i(class="fa fa-youtube")


// Back To Top    
a(href="#" class="back-to-top")
    i(class="fa fa-chevron-up")
                