// Navbar
nav(class="mainmenu fixed-top")

  div(class="container-fluid") 

      div(class="mainmenu-logo")
        a(href="index.html") 
          img(src="img/logo-khouchar3.png" class="img-fluid")

      button(class="mainmenu-toggler")
        span(class="mainmenu-toggler-icon")
        span(class="mainmenu-toggler-icon")
        span(class="mainmenu-toggler-icon")

      div(class="mainmenu-collapse")
        ul(class="mainmenu-links")

          li
            a(href='index.html') Accueil

          li(class="has-children")
            a(href="javascript:void(0)") Entreprise
            ul
              li
                a(href="qui-sommes-nous.html") Qui Somme-Nous?
              li
                a(href="service-apres-vente.html") Service Aprés Vente

          li(class="has-children")
            a(href='javascript:void(0)') Nos Produits

            ul(class="to-left")

              li(class="has-children")
                a(href='javascript:void(0)') Portes Sectionnelles
                ul
                  li 
                    a(href='portes-sectionnelles-residentielles.html') Résidentielles
                  li 
                    a(href='portes-sectionnelles-industriels.html') Industriels

              li(class="has-children")
                a(href='javascript:void(0)') Rideaux Métalliques
                ul
                  li 
                    a(href='rideaux-metalliques-commerciaux.html') Commerciaux
                  li
                    a(href='rideaux-metalliques-industriels.html') Industriels

              li(class="has-children")
                a(href='javascript:void(0)') Portails Coulissants
                ul
                  li
                    a(href='portails-coulissants-residentiels.html') Résidentiels
                  li 
                    a(href='portails-coulissants-industriels.html') Industriels

              li(class="has-children")
                a(href='javascript:void(0)') Equipements De Quai
                ul
                  li 
                    a(href='niveleurs.html') Niveleurs
                  li 
                    a(href='sas-etancheite.html') Sas D'étanchéité
                  li 
                    a(href='accessoires.html') Accessoires

              li
                a(href="portes-rapides.html") Portes Rapides

              li
                a(href="portes-basculantes.html") Portes Basculantes

              li
                a(href="portes-lanieres.html") Portes Lanières

              li
                a(href="portails-battants.html") Portails Battants

              li
                a(href="portes-coupe-feu.html") Portes Coupe-Feu

              li
                a(href="portes-specials.html") Portes Spéciales

          li
            a(href='references.html') Références
            
          li
            a(href='contact.html') Contact